.titulo{
  color: black;
  font-size: 35px;
  font-family: arial;
}

.txtVermelho {
  
  color: red;
  
}

.txtRoxo {
  
  color: purple;
}

.paragrafo{
  
  font-family: arial;
  font-weight: 300;
  
}

.final {
  
  font-size: 50px;
  color: green;
}

.dreamVermelho {
  color: red;
  
}

.dreamRoxo{
  color: purple;
}